tr.arori{
background-color:black;color:red;padding:5px;
	
}

.par{
	text-align:center;
	color:white;
	font-size:100%;
	font-family:verdana
}

.body{
	background-color:cyan;
	font-size:100%;

}
.tit{
	text-align:center;
	color:white;
	font-family:verdana;


}
.par1{
text-align:center;
color:white;
font-size:100%;
	font-family:verdana

}
.par3{
text-align:center;
color:red;


}