{% extends "index.html"%}
{% block body %}


<div style="background-color:black;color:white;padding:20px;">
			<p class="par"> Omar Souleyman is a musician from the village of Tell Tamer near the city of Ra's al-'Ayn in the northeastern region of Syria. He started his career as a part-time wedding singer in his native al-Hasakah Governorate, and while himself a Sunni Arab, he emphasises the influence its culturally diverse milieu has had on his style: "My music is from the community I come from the Kurdish, the Ashuris, the Arabic, they're all in this community. Even Turkish because it's so near, it's just across the border. And even Iraqi.
        	</p>
      </div>


{% endblock %}